.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.canvas-container {
  position: relative;
  width: auto;
  height: auto;
}

.canvas-container canvas {
  position: absolute;
  left: 0;
  width: auto;
  height: auto;
}

.webcam {
  visibility: hidden;
  width: auto;
  height: auto;
}
